<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Загородная недвижимость</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/uikit/uikit.min.css">
  <link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body class="uk-background-cover">
  <div class="bg-shadow uk-position-absolute uk-width-1-1 uk-height-1-1"></div>
  <header class="uk-position-relative z-index10">
    <div class="uk-container">
      <div class="uk-grid uk-grid-collapse uk-flex-between uk-flex-middle uk-margin-medium-top">
        <div class="uk-flex uk-flex-middle">
          <div>
            <img class="uk-width-auto@s uk-width-xsmall" src="assets/img/logo.webp" alt="">
          </div>
          <div class="uk-visible@s fs24@l fs16 cl-wh uk-margin-left text__logo">Коттеджи для <br>жизни</div>
        </div>
        <div class="">
          <a class="uk-text-decoration-none fs26@s fs36@l fnt-bld cl-wh" href="tel:+73452564195">
            +7 (3452) 56-41-95
          </a>
        </div>
      </div>
      <hr class="line fs24">
      <div class="content uk-text-center">
        <div class="fs24 fs36@s fs40@m fs64@l fnt-heavy cl-wh uk-margin-top">Сэкономить 200 тысяч на стройке</div>
        <div class="fs18 fs20@m fs24@l cl-wh fnt-semi uk-margin-top subtitle">пройди тест из 6 вопросов и узнай как</div>
        <div class="btn uk-margin-medium-top">
          <a class="uk-text-uppercase cl-dark" href="#modal-sections" uk-toggle >
            Рассчитать стоимость
          </a>
        </div>
      </div>
  </header>

<div class="uk-position-relative">
  <div class="advantages">
    <div class="uk-container">
      <div class="uk-align-center">
        <div class="uk-grid uk-grid-small uk-child-width-auto@m uk-child-width-1-1 uk-flex-between uk-margin-large-bottom">
          <div class="advantages__item uk-flex uk-flex-left">
            <div class="dot uk-border-circle"></div>
            <div class="fs18 cl-wh uk-margin-small-left">
              Профессиональные<br> бригады – в штате
            </div>
          </div>

            <div class="advantages__item uk-flex uk-flex-left">
              <div class="dot uk-border-circle"></div>
              <div class="fs18 cl-wh uk-margin-small-left">
                Договор на все виды<br> работ и честная смета
              </div>
            </div>

              <div class="advantages__item uk-flex uk-flex-left">
                <div class="dot uk-border-circle"></div>
                <div class="fs18 cl-wh uk-margin-small-left">
                  Видеонаблюдение за<br> ходом строительства
                </div>
              </div>

                <div class="advantages__item uk-flex uk-flex-left">
                  <div class="dot uk-border-circle"></div>
                  <div class="fs18 cl-wh uk-margin-small-left">
                    Гарантия на дом 5 лет
                  </div>
                <div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

  <script src="/assets/js/index.js"></script>
</body>
</html>
